<%- include('../partials/header') %>

<h1>test:threads new</h1>

<div class="ui form">
    <div class="field">
        <label>Subject</label>
        <textarea rows="2"></textarea>
    </div>

    <div class="field">
        <label>User Input</label>
        <input type="text">
    </div>

    <div class="field">
        <label>Message</label>
        <textarea></textarea>
    </div>

    <button class="ui button" type="submit">Submit</button>
</div>

<%- include('../partials/footer') %>